{{#each posts as |post|}}

<div class="row align-center mb-5">

  <div class="col-md-12 blog_top">
    <h3 class="blogTitle">
      <a href="/post/{{post.id}}"> {{postTitle}} </a></h3>

    <p class="user_time">Posted by {{post.user.username}} on {{format_date postDate}}</p>
  </div>

  <div class="col-md-12 blogContent">
    <p>{{post.post}}</p>
  </div>
</div>
{{/each}}
